<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Product</title>
	</head>
	<body>
		<h1>Create new product</h1>
		<form action="/new-product" method="post">
			<label for="category">Name: </label>
			<input type="text" name="name" />
			<br />
			<br />
			<label for="category">Cost: </label>
			<input type="number" name="cost" id="" />
			<br />
			<br />
			<label for="category">Choose a category:</label>
			<select name="category" id="category">
				<option value="a">a</option>
				<option value="b">b</option>
				<option value="c">c</option>
			</select>
			<br />
			<br />
			<input type="submit" />
			<input type="reset" />
		</form>
	</body>
</html>
