<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<h2><%= num %></h2>
		<% if(num %2===0){ %>
		<h2>num is even</h2>
		<% } else { %>
		<h2>num is odd</h2>
		<% } %> <% for(let i = 0; i <= num; i++){ %>
		<ul>
			<li>
				<h2><%= i %></h2>
			</li>
		</ul>

		<% } %>
        
	</body>
</html>
